<ng-container *ngIf="loading else Post">loadind post</ng-container>
<ng-template #Post>
  <ng-container *ngIf="post else NotFound">
    <div class="post-single">
      <div class="image img-responsive">
        <img [src]="post?.img">
      </div>
      <div class="title">{{post?.title}}</div>
      <div class="body">{{post?.body}}</div>
      <b class="posted">{{post?.postedAt | date}}</b>

      <ng-container *ngIf="post?.comments?.length else NoComments">
        <div *ngFor="let comment of post.comments" class="comment">
          <h3><i>{{comment?.author }}</i> said: </h3>
          <p>"{{comment?.body}}"</p>
          <p>{{comment?.commentedAt | date: 'dd.MM.yyy HH:mm' }}</p>
        </div>
      </ng-container>
      <ng-template #NoComments><span>no comments so far</span></ng-template>

    </div>

    <form (ngSubmit)="submitComment()" [formGroup]="commentForm" class="form">
      <div class="single-block">
        <div class="form-group">
          <textarea class="comment-input" formControlName="body" placeholder="Type your comment here"></textarea>
        </div>
      </div>

      <div class="btn-container">
        <button [disabled]="commentForm.invalid || disabled" class="btn btn-dark" type="submit">Comment</button>
      </div>
    </form>
  </ng-container>
  <ng-template #NotFound>Post not found</ng-template>
</ng-template>




