<div class="container">
  <div class="row relative">
    <form
      #userForm="ngForm"
      [class.disabled]="userForm.invalid"
      class="relative"
      id="user-form"
    >
      <div class="form-border form-group">
        <label>
          Change user name:
        </label>
          <input
            type="text"
            placeholder="Input your user name"
            [(ngModel)]="userName"
            name="userName"
            required
          >
      </div>

      <div class="button-container aligner-center">
        <button
          class="btn btn-primary"
          (click)="setUserName(userForm.form)"
          [disabled]="userForm.invalid"
          translate
        >Change</button>
      </div>
    </form>
  </div>
</div>
