<form class="form" [formGroup]="postForm" (ngSubmit)="submitPost()">
  <div class="single-block">
    <div class="form-group">
      <label for="commentInput">This is the title of your post:</label>
      <input id="commentInput" formControlName="title" class="comment-input" placeholder="Type your heading here">
    </div>
  </div>

  <div class="single-block">
    <div class="form-group">
      <label for="commentBody">This is the body, do your best:</label>
      <ckeditor id="commentBody" [editor]="Editor" formControlName="body" data="<p>Hello, world!</p>"></ckeditor>
    </div>
  </div>

  <div class="btn-container">
    <button [disabled]="postForm.invalid || disabled" type="submit" class="btn btn-dark">Post</button>
  </div>
</form>

<div *ngIf="showToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong class="mr-auto">Toaster</strong>
    <small class="text-muted">Just now</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">Your post has been submitted!</div>
</div>
