<div class="single-post media position-relative">
  <img [src]="post?.img" class="mr-3">
  <div class="media-body">
    <h5 class="mt-0">
      <b *ngIf="isHTML(post?.title) else Text">{{post?.title}}</b>
      <ng-template #Text>
        <b [innerHTML]="post?.title | sanitizer"></b>
      </ng-template>

    </h5>
    <p>Posted by: <i>{{post?.author}}</i></p>
    <p>Posted at: {{post.postedAt | date}} | Comments ({{post?.comments?.length || 0}})</p>
    <a class="stretched-link" routerLink="/posts" (click)="navigate(post.id)">Read More</a>
  </div>
</div>
