<div class="posts-wrapper">
  <div *ngIf="loader else Posts" class="loader">
    <span>Loading posts</span>
  </div>

  <ng-template #Posts>
    <div class="posts-all" *ngIf="posts?.length else NoData">
      <div class="single-post" *ngFor="let post of posts">
        <app-post-preview [post]="post"></app-post-preview>
      </div>
    </div>

    <ng-template #NoData>no post so far</ng-template>
  </ng-template>
</div>
