@import "src/theme.scss";

.posts-all {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .single-post {
    margin-bottom: 25px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}


