@import "../../../theme.scss";

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-content {
  padding: 10px;
  color: #ffffff;
  background-color: $brand-background;
  display: flex;
  align-items: center;
  justify-content: center;
}

