/* You can add global styles to this file, and also import other style files */

// CSS Reset, comment out if not required or using a different module
@import '~minireset.css/minireset';
@import "~bootstrap/dist/css/bootstrap.min.css";

@import './theme.scss';

body {
  font-family: $primary-font;
  font-size: $primary-font-size;
}

.relative {
  position: relative;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  input, textarea {
    padding: 10px;
  }
}
