//fonts
$primary-font: Verdana, Geneva, sans-serif;
$secondary-font: sans-serifComic Sans MS, serif, sans-serif;

$primary-font-size: 12px;

//global font color
$font-color-dark: #000000;
$font-color-light: #828282;

// Brand Colors;
$brand-primary: #46b5ed;
$brand-background: #1976d2;
$brand-secondary: #6E6E6E;

$brand-yellow: #FFB711;
$brand-orange: #FF8C00;
$brand-dark-color: #393939;
$brand-white: #FFFFFF;
$brand-green: #35ED3A;
$brand-red: #ED171F;



